$myGreenLight: #5df0c8;
$myGreenDark: #25ab94;
$myGrayLight: #f6f3f5;
$myGrayMiddle: #aeadae;
$myGrayDark: #626262;
$myVioletLight: #9694ab;
$myVioletDark: #3f3a64;
$myBrown0: #e6dcd2;
$myBrown1: #c99f8e;
$myBrown2: #ad876a;
$myBrown3: #a6846b;
$myBrown4: #ad6f5b;
$myBrown5: #975c4d;
$myBrown6: #504442;
$myBlue: #4473ee;
$myRed1: #c52618;
$myRed2: #cb1917;
$myYellow: #ffbe6b;
$myBlack: #0b0b0b;
$bgCol1: #f5f7fa;
$bgCol2: #f8f8f8;
$bgCol3: #f5f1ed;